    </div>
    <footer>
      Contact info: <a href="https://github.com/bfpepper"><img src="https://assets-cdn.github.com/images/modules/open_graph/github-mark.png"</a>
                    <a href="https://twitter.com/RennSport5280"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png"</a>
                    <a href="mailto:bfpepper87@gmail.com"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS2I6HzD-dUXtVlXh_GfVISFgH8RNlU3qm6TY9twY7wTdiT7ZvQmv2s3bAc"</a>
    </footer>
  </body>
</html>
